[Unit]
Description=Todo Service

[Service]
Environment=REDIS_HOST=redis-{{ENV}}.ansible.ga
ExecStart=/bin/node /home/ubuntu/todo/server.js
SyslogIdentifier =todo

[Install]
WantedBy=multi-user.target