[Unit]
Description=Todo Service

[Service]
Environment=REDIS_HOST=redis-{{env}}.venu6766.tk
ExecStart=/bin/node /home/ubuntu/todo/server.js
SyslogIdentifier =todo

[Install]
WantedBy=multi-user.target